<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="fragments/header :: header">...</div>
<h2>用户列表</h2>
<div>
    <ul>
        <li  th:each="user:${users}">
            <span th:text="${user.userId}"></span>-
            <span th:text="${user.userNo}"></span>
            <span th:text="${user.userName}"></span>-
            <span th:text="${user.userMobil}"></span>-
            <span th:text="${user.userEmail}"></span>
        </li>
    </ul>
</div>
<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
</html>